{
    "name" : "Hdp service", 
    "description" : "Hdp service description",
    "functions" : [
    {
        "name" : "getDate",
        "description" : "Get this date please",
        "upstream" : "http://127.0.0.1:3001/heyheyhey",
        "method" : "get",
        "inputParameters" : [
        { 
            "name" : "zone", 
            "description" : "timezone", 
            "default" : "GMT+0"
        }, 
        { 
            "name" : "format", 
            "description" : "date format", 
            "default" : "dd-mm-yyyy" 
        }]
    },
    { 
        "name" : "getCaptcha", 
        "description" : "Returns captcha image"
    }]
}
