{
    "name" : "Hdp service", 
    "description" : "Hdp service description",
    "functions" : [
    {
        "name" : "getDate",
        "description" : "Get this date please",
        "upstreams" : ["http://127.0.0.1:3001/"],
        "method" : "GET",
        "inputParameters" : [
        { 
            "name" : "city", 
            "description" : "City you like",
            "required" : true
        }]
    },
    { 
        "name" : "getCaptcha", 
        "description" : "Returns captcha image",
        "upstreams" : ["http://127.0.0.1:3001/", "http://127.0.0.1:3002/"],
        "method" : "GET"
    },
    { 
        "name" : "withParam/:param/:more",
        "description" : "Returns with params",
        "upstreams" : ["http://127.0.0.1:3001/"],
        "method" : "GET"
    }]
}
