{
    "name" : "Hdp service", 
    "description" : "Hdp service description",
    "functions" : [
    {
        "name" : "getDate",
        "description" : "Get this date please",
        "upstream" : "http://127.0.0.1:3001/",
        "method" : "get",
        "inputParameters" : [
        { 
            "name" : "city", 
            "description" : "timezone",
            "required" : true
        }, 
        { 
            "name" : "format", 
            "description" : "date format", 
            "default" : "dd-mm-yyyy" 
        }]
    },
    { 
        "name" : "getCaptcha", 
        "description" : "Returns captcha image",
        "upstream" : "http://127.0.0.1:3001/",
        "method" : "get"
    },
    { 
        "name" : "withParam/:param/:more",
        "description" : "Returns with params",
        "upstream" : "http://127.0.0.1:3001/",
        "method" : "get"
    }]
}
